
<div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center">
      <app-header fxFlex="10%"></app-header>  
  <div fxFlex="85%">
    <ng-container *ngIf="!view; else elseTemplate">
      <app-enter-chat (name)="change($event)"></app-enter-chat>
    </ng-container>
    <ng-template #elseTemplate>
      <app-chat [name]="view"></app-chat>
      <button class="btn btn-warning pull-right" (click)="clear()">Log out</button>
    </ng-template>
  </div>
    <!-- <app-footer fxFlex="5%"></app-footer> -->
</div>
